{% extends "_layouts/default.njk" %}

{% block body %} 
  <div class="row"> 
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="main">  
        <div class="cadastro">
          <h3>Cadastro de Compra</h3>
          <br>
          
          <form action="/compra" method="POST">
            <div class="row">
              <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="data">Data</label>
                  <input type="text" name="data" id="dtCompra"  class="flatpickr form-control" value={{dataCompra}}> 
                </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="local">Local</label>
                  <input type="text" name="local" placeholder="Local" class="form-control" placeholder="Local da compra" maxlength="50" required>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="valor">Valor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">    
                      <span class="input-group-text" id="input1">R$</span>
                    </div>
                    <input type="number" name="valorTotal" step="0.01" class="form-control" id="valor" value="0.00" readonly>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row" id="error">
              <div class="col-md-4 col-lg-3 col-xl-2">
                {% include "_partials/flash.njk" %}
              </div>
            </div>    
            <a class="btn btn-primary mb-2 col-xl-2 col-lg-3 col-md-4" href="#" role="button" id="btnAdicionar">Adicionar Item</a>

            <div id="itens">
            </div>

            <button type="submit" class="btn btn-primary col-xl-2 col-lg-3 col-md-4 mt-2">Criar</button>

            <select class="hidden">
              {% for insumo in insumos %}
                <option value="{{ insumo._id }}" name="receita" class="itemInsumo"> {{ insumo.nome }}</option>
              {% endfor %}
            </select>

          </form>
        </div>
      </main>
  </div> 

  <script src="/assets/js/functions/funcoesCompra.js"></script>

{% endblock%}


