{% include "_partials/head.njk" %}

<body class="bgLogin">
    <div class="container">
        <div class="card mx-auto login" style="bottom: 100px">
            <div class="card-body">
                {# <form> #}
                {# <form  action="/usuario/validacao" method="POST"> #}
                    {# {% include "_partials/flash.njk" %} #}
                    <div class="imgLogin">
                        <img src="/assets/img/userLogin.png" width="90" height="90">
                    </div>  
                    <div class="form-group">
                        <level for="email">Login ou E-mail</level>
                        <input type="text" name="email" id="login" class="form-control" placeholder="Digite seu login ou e-mail">
                    </div>
                    <div class="form-group">
                        <level for="senha">Senha</level>
                        <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite sua senha">
                    </div>

                    {# <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4"> #}
                            <div class="form-group">
                                <p id="ErroLogin" class="ErrorField" style="display:none;"></p>
                            </div>
                        {# </div>
                    </div>  #}

                    <button class="btn btn-primary btn-block btnEntrar" id="btnLogin">Entrar no Sistema</button>
                    <div class="text-center">
                        <a href="/usuario/cadastroLogin" class="d-block small mt-3 linkCriarConta">Criar uma conta</a>
                    </div>
                {# </form> #}
            </div>
        </div>
    </div>
    <script src="/assets/js/functions/funcoesUsuario.js"></script>
</body>


