{% include "_partials/head.njk" %}

{% block body %}


<body class="bodyStart" style="background-color:#FFFFE0">
  <div class="navbar navbarStart">
    <a href="#"></a>
  </div>

  <p style="color:#FF6347;position: fixed; margin-bottom:500px; font-size:55px; text-align: center" class="h1">ECONOMYC KITCHEN</p>

  <div class="text-center">
    <a href="/usuario/login">
      <button type="button" class="btn btnInicio">Começar</button>
    </a>
  </div>

  <footer class="sticky-footer footer-start">
      <div class="container">
          <div class="text-center">
              <small style="color:#FF6347">Copyright Aqui</small>
          </div>
      </div>
  </footer>
</body>
  
{% endblock%}

